 <style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    padding: 0 1rem 0 1rem;
    border-radius: 25px;
  }
 .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
  .nav-link-a{
      background-color: #fe424d;
       border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse"
     data-bs-target="#navbarNavAltMarkup" >
     
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore  </a>
      </div>

      <div class="navbar-nav ms-auto">
        
        <form id="nav-search-form" class="d-flex" role="search" method="GET" action="/listings">
          
          <!-- <input id=" nav-search-input" name="country" class="form-control me-2 search-inp" type="search" placeholder=" " value="<%= typeof country !== 'undefined' ? country : '' %>"> -->

           <input type="search" id="nav-search-input" name="country" class="form-control me-2 search-inp" placeholder="" value="<%= typeof country !== 'undefined' ? country : '' %>">


          <button id="nav-search-button" class="btn search-btn " type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
        <script>
          (function(){
            const form = document.getElementById('nav-search-form');
            const input = document.getElementById('nav-search-input');
            if(!form || !input) return;
            form.addEventListener('submit', function(e){
              // ensure navigation occurs even if other scripts intercept
              e.preventDefault();
              const q = (input.value || '').trim();
              const url = '/listings' + (q ? ('?country=' + encodeURIComponent(q)) : '');
              window.location.href = url;
            });
          })();
        </script>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link-a" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
          <a class="nav-link"  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser){%>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <%}%>
        <!-- ///////// -->
        <a class="nav-link position-relative" href="/cart">
          <i class="fa-solid fa-shopping-cart"></i>
          Cart
          <span class="badge bg-danger position-absolute" style="top:0;right:0;transform:translate(50%,-50%);">
            <%= cartCount || 0 %>
          </span>
        </a>
      
        </div>
    </div>
  </div>
</nav>
 


 