<% layout("/layouts/boilerplate")%>
<div class="signup-container">
<div class="row mt-2" >
    <h1 class="offset-2">Signup for Wanderlust</h1>
    
   <div class="col-8 offset-2">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <lable for="username" class="form-label" required>Username</lable>
            
            <input name="username"
            id="username"
            type="text" 
            class="form-control" 
            placeholder="userName"
           autocomplete="new-password" 
            required>
            <div class="valid-feedback"> looks goods!</div>

            
            <lable for="email" class="form-label" required>Email</lable>          
            <input name="email"
            id="email"
            type="email" 
            class="form-control" 
            placeholder="Irfan@gmail.com"
            autocomplete="off" 
            required>

            <lable for="password" class="form-label" required>Password</lable>
            


            <!-- <input name="password"
            id="password"
            type="password" 
            class="form-control" 
            required>
            <button type="button" class="btn btn-outline-primary" onclick="togglePassword()" style="background-color: rgba(112, 177, 188, 0.651) ">👁</button>
        </div> ORRRRR -->

       <div class="input-group">
                        <input name="password" id="password" type="password" class="form-control" placeholder="passWord" 
                            autocomplete="new-password"  

                        required>
                        <button type="button" class="btn btn-outline-dark" onclick="togglePassword()" style="background-color: rgba(112, 177, 188, 0.651) ">👁</button>
                    </div>
            </div>

            <div >
               
                     <!-- <button class="btn btn-success"> alert("Hello Welcome!") SignUp</button> -->
                   <button class="  btn btn-success">SignUp</button>
                
            </div>
       
    </form>
       </div>
 </div></div>
 <script>
        function togglePassword() {
            let passwordInput = document.getElementById("password");
            passwordInput.type = passwordInput.type === "password" ? "text" : "password";
        }
    </script>
